# =========================
# 🐍 Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.ipynb_checkpoints/

# =========================
# 📦 Entornos virtuales
# =========================
.venv/


# =========================
# 🔐 Variables de entorno
# =========================
.env
.env.*

# =========================
# 📊 Datos (muy importante)
# =========================
data/
!data/.gitkeep


# =========================
# 🤖 Modelos (artifacts)
# =========================
#model
#*.h5
#*.keras


# =========================
# 📓 Jupyter Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# ⚙️ Airflow
# =========================
airflow.db
logs/
airflow.cfg

# =========================
# 🐳 Docker
# =========================
*.log

# =========================
# 🧪 Testing
# =========================
.coverage
htmlcov/

# =========================
# 🧠 IDEs
# =========================
.vscode/
.idea/

# =========================
# 📄 Otros
# =========================
.DS_Store
Thumbs.db