# Servidor Web e Interfaz
fastapi==0.136.1
uvicorn==0.47.0
python-multipart==0.0.29

# Deep Learning (Inferencia)
tensorflow==2.20.0
keras==3.13.2
h5py==3.16.0

# Procesamiento Acústico y Matrices
librosa==0.11.0
numpy==1.26.4
scipy==1.15.3
soundfile==0.13.1